{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
{{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js' | script_tag }}

    <div class="large_form">
      <label for="app-date">What is your preferred appointment date?</label>
      <input id="app-date" type="text" name="contact[date]" />
    <span style="display:block" class="instructions">We'll contact you to schedule your appointment.</span>
    </div>  

<script>
jQuery(function() {
  jQuery("#app-date").datepicker( { 
    minDate: +1, 
    maxDate: '+2M',
    beforeShowDay: jQuery.datepicker.noWeekends
  } );
});
</script>

{% comment %}
  To remove days of the week that aren't Saturday and Sunday, use this:
  http://stackoverflow.com/questions/2968414/disable-specific-days-of-the-week-on-jquery-ui-datepicker
{% endcomment %}